@import "./colors.scss";

$primary: $_primary;
$secondary: $_secondary;
$success: $_success;
$info: $_info;
$warning: $_warning;
$danger: $_danger;
$light: $_light;
$dark: $_dark;
$white: $_white;
$black: $_black;
